{{! Card }}
<div class="card"  data-aos="fade-up">
  {{! Card Image }}
  <div class="card-image">
    <img src="assets/images/ejemplo.png" alt="" />
  </div>
  {{! Card Content }}
  <div class="card-content">
    <h3>Web Design</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.
    </p>
  </div>
</div>