<section class="carrusel">
  <h2 data-aos="fade-up">TECHNOLOGIES AND LANGUAGES</h2>
  <div class="carrusel" data-aos="fade-up">

    <div class="carrusel-items">
      {{!-- CSS --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/css-3.png" alt="" />
      </div>
      {{!-- HTML --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/html-5.png" alt="" />
      </div>
      {{!-- React --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/react.png" alt="" />
      </div>
      {{!-- Javascript --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/java-script.png" alt="" />
      </div>
      {{!-- Sass --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/sass.png" alt="" />
      </div>
      {{!-- SQL --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/sql.png" alt="" />
      </div>



      {{!-- CSS --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/css-3.png" alt="" />
      </div>
      {{!-- HTML --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/html-5.png" alt="" />
      </div>
      {{!-- React --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/react.png" alt="" />
      </div>
      {{!-- Javascript --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/java-script.png" alt="" />
      </div>
      {{!-- Sass --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/sass.png" alt="" />
      </div>
      {{!-- SQL --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/sql.png" alt="" />
      </div>

      {{!-- CSS --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/css-3.png" alt="" />
      </div>
      {{!-- HTML --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/html-5.png" alt="" />
      </div>
      {{!-- React --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/react.png" alt="" />
      </div>
      {{!-- Javascript --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/java-script.png" alt="" />
      </div>
      {{!-- Sass --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/sass.png" alt="" />
      </div>
      {{!-- SQL --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/sql.png" alt="" />
      </div>

      {{!-- CSS --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/css-3.png" alt="" />
      </div>
      {{!-- HTML --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/html-5.png" alt="" />
      </div>
      {{!-- React --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/react.png" alt="" />
      </div>
      {{!-- Javascript --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/java-script.png" alt="" />
      </div>
      {{!-- Sass --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/sass.png" alt="" />
      </div>
      {{!-- SQL --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/sql.png" alt="" />
      </div>

      {{!-- CSS --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/css-3.png" alt="" />
      </div>
      {{!-- HTML --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/html-5.png" alt="" />
      </div>
      {{!-- React --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/react.png" alt="" />
      </div>
      {{!-- Javascript --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/java-script.png" alt="" />
      </div>
      {{!-- Sass --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/sass.png" alt="" />
      </div>
      {{!-- SQL --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/sql.png" alt="" />
      </div>

      {{!-- CSS --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/css-3.png" alt="" />
      </div>
      {{!-- HTML --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/html-5.png" alt="" />
      </div>
      {{!-- React --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/react.png" alt="" />
      </div>
      {{!-- Javascript --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/java-script.png" alt="" />
      </div>
      {{!-- Sass --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/sass.png" alt="" />
      </div>
      {{!-- SQL --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/sql.png" alt="" />
      </div>

      {{!-- CSS --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/css-3.png" alt="" />
      </div>
      {{!-- HTML --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/html-5.png" alt="" />
      </div>
      {{!-- React --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/react.png" alt="" />
      </div>
      {{!-- Javascript --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/java-script.png" alt="" />
      </div>
      {{!-- Sass --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/sass.png" alt="" />
      </div>
      {{!-- SQL --}}
      <div class="carrusel-item">
        <img src="assets/images/icons/sql.png" alt="" />
      </div>



      <!-- 
          <div class="carrusel-item">
            <img src="./icons/" alt="">
          </div>
          <div class="carrusel-item">
            <img src="./icons/" alt="">
          </div>
          <div class="carrusel-item">
            <img src="./icons/" alt="">
          </div>
          <div class="carrusel-item">
            <img src="./icons/" alt="">
          </div>
          <div class="carrusel-item">
            <img src="./icons/" alt=""> -->
    </div>
  </div>
</section>