<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Sass Styles -->
    <link rel="stylesheet" href="assets/styles/Sass/dist/style.css" />
    <title>404</title>
  </head>
  <body>
    <div class="not-found-body">
      <div class="not-found-container">
        <img src="assets/images/icons/noResults.png" alt="" />
        <a class="not-found-btn" href="/">
          <button >Back to Home</button>
        </a>
        <p class="not-found-text">Page not found</p>
      </>
  </body>
  </div>
</html>